server:
  port: 8081

spring:
  application:
    name: authorization-service
  datasource:
    url: jdbc:postgresql://localhost:5432/chatcraft_auth
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false
  flyway:
    enabled: true
    locations: classpath:db/migration

management:
  endpoints:
    web:
      exposure:
        include: health,info

logging:
  level:
    io.factorialsystems: DEBUG
