server:
  port: 8081

spring:
  application:
    name: authorization-service
  datasource:
    url: jdbc:postgresql://localhost:5432/chatcraft_auth
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false
  flyway:
    enabled: true
    locations: classpath:db/migration
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    cache: false

jwt:
  keystore:
    path: ${JWT_KEYSTORE_PATH:classpath:keys/jwt-keystore.p12}
    password: ${JWT_KEYSTORE_PASSWORD:password}
    alias: ${JWT_KEY_ALIAS:authserver}
  issuer-uri: ${JWT_ISSUER_URI:http://localhost:8081}

#  hms:
#    auth:
#      jwt:
#        access-token-validity-minutes: ${JWT_ACCESS_TOKEN_VALIDITY:15}
#        refresh-token-validity-days: ${JWT_REFRESH_TOKEN_VALIDITY:7}
#        key-store-path: ${JWT_KEYSTORE_PATH:classpath:keys/authserver.jks}
#        key-store-password: ${JWT_KEYSTORE_PASSWORD:password}
#        key-alias: ${JWT_KEY_ALIAS:authserver}

management:
  endpoints:
    web:
      exposure:
        include: health,info

logging:
  level:
    io.factorialsystems: DEBUG
    org.springframework.security.oauth2.server.authorization: TRACE
    org.springframework.security.web.FilterChainProxy: DEBUG
